src_dir = "./src"
skynet_dir = "./tools/skynet"
root = "../../"
thread = 8

bootstrap = "snlua bootstrap"	-- The service for bootstrap
luaservice = root.."src/common/service/?.lua;"
            .."service/?.lua;"
            ..root.."src/?.lua;"
            ..root.."src/common/service/?/main.lua;"
            ..root.."src/app/?/main.lua;"
lualoader = "lualib/loader.lua"
lua_path = root.."src/app/?/main.lua;"
            .."lualib/skynet/?.lua;"
            ..root.."src/?.lua;"
            ..root.."src/?;"
            .."lualib/?.lua;"
            .."lualib/?/init.lua;"
snax = "examples/?.lua;".."test/?.lua"
cpath = "cservice/?.so"
-- daemon = "./skynet.pid"

logger     = "logger" -- 日志服务名
logservice = "snlua"  -- 现在日志服务用 Lua 实现
logpath    = "./log/" -- 日志输出目录
serverId = 10001