src_dir = "./src"
skynet_dir = "./tools/skynet"
root = "./"
thread = 8

bootstrap = "snlua bootstrap"	-- The service for bootstrap
luaservice = root.."../../src/common/service/?.lua;"
            ..root.."service/?.lua;"
            ..root.."../../src/?.lua;"
            ..root.."../../src/common/service/?/main.lua;"
            ..root.."../../src/app/?/main.lua;"
lualoader = "lualib/loader.lua"
lua_path = root.."../../src/app/?/main.lua;"
            ..root.."lualib/skynet/?.lua;"
            ..root.."../../src/?.lua;"
            ..root.."../../src/?;"
            ..root.."lualib/?.lua;"
            ..root.."lualib/?/init.lua;"
snax = root.."examples/?.lua;"..root.."test/?.lua"
cpath = root.."cservice/?.so"
-- daemon = "./skynet.pid"

ip = "127.0.0.1"
serverId = 10001